# Ignore adafruit libraries
adafruit-libs/
# Ignore upload/ libraries
upload/
# Ignore minified code
*min.py
# Ignore compiled micropython
*.mpy
# Ignore WiFi passwords
*.password
# Ignore gcode and STLs
*.gcode
*.stl
